
<nz-card [nzBorderless]="true">
    <nz-descriptions [nzBordered]="true" [nzColumn]="{xs:1,sm:1,md:1,lg:1,xl:4,xxl:4}">
        <nz-descriptions-item nzSpan="4" [nzTitle]="'identity.user.userName'|i18n">{{model.userName}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.phoneNumber'|i18n">{{model.phoneNumber}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.phoneNumberConfirmed'|i18n"><i *ngIf="model.phoneNumberConfirmed" nz-icon="" nzType="check"></i><i *ngIf="!(model.phoneNumberConfirmed)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.email'|i18n">{{model.email}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.emailConfirmed'|i18n"><i *ngIf="model.emailConfirmed" nz-icon="" nzType="check"></i><i *ngIf="!(model.emailConfirmed)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.enabled'|i18n"><i *ngIf="model.enabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.enabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.disabledTime'|i18n">{{model.disabledTime|date:"yyyy-MM-dd HH:mm:ss"}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.lockoutEnabled'|i18n"><i *ngIf="model.lockoutEnabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.lockoutEnabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.lockoutEnd'|i18n">{{model.lockoutEnd}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.twoFactorEnabled'|i18n"><i *ngIf="model.twoFactorEnabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.twoFactorEnabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.registerIp'|i18n">{{model.registerIp}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.loginCount'|i18n">{{model.loginCount}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.accessFailedCount'|i18n">{{model.accessFailedCount}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.lastLoginTime'|i18n">{{model.lastLoginTime|date:"yyyy-MM-dd HH:mm:ss"}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.lastLoginIp'|i18n">{{model.lastLoginIp}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.currentLoginTime'|i18n">{{model.currentLoginTime|date:"yyyy-MM-dd HH:mm:ss"}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.user.currentLoginIp'|i18n">{{model.currentLoginIp}}</nz-descriptions-item>
        <nz-descriptions-item nzSpan="4" [nzTitle]="'identity.user.remark'|i18n">{{model.remark}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'util.creationTime'|i18n">{{model.creationTime|date:"yyyy-MM-dd HH:mm:ss"}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'util.lastModificationTime'|i18n">{{model.lastModificationTime|date:"yyyy-MM-dd HH:mm:ss"}}</nz-descriptions-item>
    </nz-descriptions>
</nz-card>
