<page-header [autoBreadcrumb]="false" [syncTitle]="false" [title]="'identity.module.detail'|i18n"></page-header>
<nz-card [nzBorderless]="true">
    <nz-descriptions [nzBordered]="true" [nzColumn]="2">
        <nz-descriptions-item nzSpan="2" [nzTitle]="'identity.module.applicationName'|i18n">{{model.applicationName}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.module.name'|i18n">{{model.name}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'util.enabled'|i18n"><i *ngIf="model.enabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.enabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'util.parentName'|i18n">{{model.parentName}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'util.expanded'|i18n"><i *ngIf="model.expanded" nz-icon="" nzType="check"></i><i *ngIf="!(model.expanded)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.module.uri'|i18n">{{model.uri}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'util.sortId'|i18n">{{model.sortId}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'util.icon'|i18n">{{model.icon}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.module.creationTime'|i18n">{{model.creationTime|date:"yyyy-MM-dd HH:mm"}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'identity.module.remark'|i18n">{{model.remark}}</nz-descriptions-item>
    </nz-descriptions>
</nz-card>