<page-header [title]="'identity.resource'|i18n"></page-header>
<nz-tabset nzTabPosition="left" [(nzSelectedIndex)]="selectedTabIndex">
    <nz-tab *aclIf="'module.view'" [nzTitle]="'identity.module'|i18n"><ng-template nz-tab="">
        <module-list></module-list>
    </ng-template></nz-tab>
    <nz-tab *aclIf="'apiResource.view'" [nzTitle]="'identity.apiResource'|i18n"><ng-template nz-tab="">
        <api-resource-list></api-resource-list>
    </ng-template></nz-tab>
    <nz-tab *aclIf="'identityResource.view'" [nzTitle]="'identity.identityResource'|i18n"><ng-template nz-tab="">
        <identity-resource-list></identity-resource-list>
    </ng-template></nz-tab>
</nz-tabset>