<div class="index-bg">
    <div class="container text-center ">
        <!--logo-->
        <div>
            <img src="~/images/logo.png" class="pt-5" />
        </div>
        <!--标题-->
        <div class="title mb-5">
            <h1>身份认证中心</h1>
            <p>欢迎来到身份认证中心</p>
        </div>
        <!--内容-->
        <div class="row">
            <div class="col-6 mt-5">
                <div class="doc-bg">
                    <a href="~/.well-known/openid-configuration"><img src="~/images/doc.png"/></a>
                </div>
                <p><a href="~/.well-known/openid-configuration">发现文档</a></p>
            </div>
            <div class="col-6 mt-5">
                <div class="login-bg">
                    <a href="/Account/Login"><img src="~/images/login.png" /></a>
                </div>
                <p><a href="/home/Error">登录</a></p>
            </div>
        </div>
        <hr/>
       <footer>
           <p>Copyright ©util 2023</p>
       </footer>
    </div>
</div>