
<page-header [title]="'identity.application'|i18n"></page-header>


<nz-card class="searchForm" [nzBordered]="false">
    <form nz-form="">
        <div nz-row="" [nzGutter]="24">
            <div nz-col="" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="6">
                <nz-form-item><nz-form-label style="width:120px">{{'identity.application.code'|i18n}}</nz-form-label><nz-form-control><nz-input-group [nzSuffix]="tmp_code"><ng-template #tmp_code=""><span (click)="model_code.reset()" *ngIf="model_code.value" class="ant-input-clear-icon" nz-icon="" nzTheme="fill" nzType="close-circle"></span></ng-template><input #code="" #model_code="ngModel" name="code" nz-input="" [(ngModel)]="queryParam.code" /></nz-input-group></nz-form-control></nz-form-item>
            </div>
            <div nz-col="" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="6">
                <nz-form-item><nz-form-label style="width:120px">{{'identity.application.name'|i18n}}</nz-form-label><nz-form-control><nz-input-group [nzSuffix]="tmp_name"><ng-template #tmp_name=""><span (click)="model_name.reset()" *ngIf="model_name.value" class="ant-input-clear-icon" nz-icon="" nzTheme="fill" nzType="close-circle"></span></ng-template><input #model_name="ngModel" #name="" name="name" nz-input="" [(ngModel)]="queryParam.name" /></nz-input-group></nz-form-control></nz-form-item>
            </div>
            <div nz-col="" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="6">
                <nz-form-item><nz-form-label style="width:120px">{{'identity.application.enabled'|i18n}}</nz-form-label><nz-form-control><nz-select #enabled="" #x_enabled="xSelectExtend" name="enabled" x-select-extend="" [(ngModel)]="queryParam.enabled" [data]="[{'text':'util.yes','value':true,'sortId':1},{'text':'util.no','value':false,'sortId':2}]"><nz-option [nzLabel]="'util.defaultOptionText'|i18n"></nz-option><ng-container *ngIf="!x_enabled.isGroup"><nz-option *ngFor="let item of x_enabled.options" [nzDisabled]="item.disabled" [nzLabel]="item.text|i18n" [nzValue]="item.value"></nz-option></ng-container><ng-container *ngIf="x_enabled.isGroup"><nz-option-group *ngFor="let group of x_enabled.optionGroups" [nzLabel]="group.text|i18n"><nz-option *ngFor="let item of group.value" [nzDisabled]="item.disabled" [nzLabel]="item.text|i18n" [nzValue]="item.value"></nz-option></nz-option-group></ng-container></nz-select></nz-form-control></nz-form-item>
            </div>
            <div *ngIf="expand" nz-col="" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="6">
                <nz-form-item><nz-form-label style="width:120px">{{'identity.application.remark'|i18n}}</nz-form-label><nz-form-control><nz-input-group [nzSuffix]="tmp_remark"><ng-template #tmp_remark=""><span (click)="model_remark.reset()" *ngIf="model_remark.value" class="ant-input-clear-icon" nz-icon="" nzTheme="fill" nzType="close-circle"></span></ng-template><input #model_remark="ngModel" #remark="" name="remark" nz-input="" [(ngModel)]="queryParam.remark" /></nz-input-group></nz-form-control></nz-form-item>
            </div>
            <div *ngIf="expand" nz-col="" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="6">
                <nz-form-item><nz-form-label style="width:120px">{{'util.beginCreationTime'|i18n}}</nz-form-label><nz-form-control><nz-range-picker #begin_creation_time="" #x_begin_creation_time="xRangePickerExtend" name="begin_creation_time" x-range-picker-extend="" [(beginDate)]="queryParam.beginCreationTime" [(endDate)]="queryParam.endCreationTime" [(ngModel)]="x_begin_creation_time.rangeDates"></nz-range-picker></nz-form-control></nz-form-item>
            </div>
            <div *ngIf="expand" nz-col="" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="6">
                <nz-form-item><nz-form-label style="width:120px">{{'util.beginLastModificationTime'|i18n}}</nz-form-label><nz-form-control><nz-range-picker #begin_last_modification_time="" #x_begin_last_modification_time="xRangePickerExtend" name="begin_last_modification_time" x-range-picker-extend="" [(beginDate)]="queryParam.beginLastModificationTime" [(endDate)]="queryParam.endLastModificationTime" [(ngModel)]="x_begin_last_modification_time.rangeDates"></nz-range-picker></nz-form-control></nz-form-item>
            </div>
            <div class="mb-md" nz-col="" [nzLg]="{span:expand?24:24}" [nzMd]="24" [nzSm]="24" [nzXl]="{span:expand?24:24}" [nzXs]="24" [nzXXl]="{span:expand?12:6}">
                <div nz-flex="" nzAlign="center" nzGap="small" nzJustify="flex-end">
                    <button #btnRefresh="" (click)="refresh(btnRefresh)" nz-button="" type="button"><span nz-icon="" nzType="sync"></span>{{'util.reset'|i18n}}</button>
                    <button #btnQuery="" (click)="query(btnQuery)" nz-button="" nzType="primary" type="button"><span nz-icon="" nzType="search"></span>{{'util.query'|i18n}}</button>
                    <button (click)="container.masterToggle()" *ngIf="!container.isMasterChecked()" nz-button="" type="button"><span nz-icon="" nzType="check-square"></span>{{'util.selectAll'|i18n}}</button>
                    <button (click)="container.masterToggle()" *ngIf="container.isMasterChecked()" nz-button="" type="button"><span nz-icon="" nzType="close-square"></span>{{'util.deselectAll'|i18n}}</button>
                    <a (click)="expand=!expand" class="ml-sm">{{expand?('util.collapse'|i18n):('util.expand'|i18n)}}<span nz-icon="" [nzType]="expand?'up':'down'"></span></a>
                </div>
            </div>
        </div>
    </form>
</nz-card>

<div class="cardlist" sg-container="" [col]="4">
    <sg *aclIf="'application.create'">
        <button (click)="openCreateDrawer()" nz-button="" [nzBlock]="true"><span nz-icon="" nzType="plus"></span>{{'util.add'|i18n}}</button>
    </sg>
    <sg *ngFor="let model of container.data">
        <nz-card (click)="container.toggle(model)" [nzActions]="[actionEdit, actionDetail, actionDelete]" [nzHoverable]="true">
            <nz-skeleton [nzActive]="true" [nzAvatar]="true" [nzLoading]="avatarLoading">
                <div nz-flex="" nzJustify="flex-end">
                    <label (nzCheckedChange)="container.toggle(model)" nz-checkbox="" [nzChecked]="container.isChecked(model)"></label>
                </div>
                <nz-card-meta [nzAvatar]="avatar" [nzDescription]="description" [nzTitle]="model.code"></nz-card-meta>
            </nz-skeleton>
        </nz-card>

        <ng-template #avatar="">
            <img (load)="onLoadAvatar()" class="rounded-circle mb-lg" nz-image="" width="48px" [nzDisablePreview]="true" [nzSrc]="getAvatarUrl(model)" />
        </ng-template>
        <ng-template #description="">
            <div nz-flex="" nzGap="middle">
                <h5 nz-typography="" [nzContent]="model.name"></h5>
                <div>
                    <nz-tag *ngIf="model.enabled" nzColor="geekblue">{{'util.enabled'|i18n}}</nz-tag>
                    <nz-tag *ngIf="!model.enabled" nzColor="red">{{'util.notEnabled'|i18n}}</nz-tag>
                </div>
            </div>
            <ellipsis [lines]="1">{{model.remark}}</ellipsis>
        </ng-template>
        <ng-template #actionEdit="">
            <span (click)="$event.stopPropagation();openEditDrawer(model)" *aclIf="'application.update'" nz-icon="" nz-tooltip="" nzType="edit" [nzTooltipTitle]="'util.update'|i18n"></span>
        </ng-template>
        <ng-template #actionDetail="">
            <span (click)="$event.stopPropagation();openDetailDialog(model)" nz-icon="" nz-tooltip="" nzType="more" [nzTooltipTitle]="'util.detail'|i18n"></span>
        </ng-template>
        <ng-template #actionDelete="">
            <span (click)="$event.stopPropagation();delete(model.id)" *aclIf="'application.delete'" nz-icon="" nz-tooltip="" nzType="delete" [nzTooltipTitle]="'util.delete'|i18n"></span>
        </ng-template>
    </sg>
</div>

<footer-toolbar *ngIf="container.isChecked()" [extra]="footer_info">
    <ng-template #footer_info="">
        <span class="mr-xs" [innerHTML]="'app.totalTip'|i18n:{total:container.total}"></span>,
        <span class="mr-xs" [innerHTML]="'app.loadedTip'|i18n:{length:container.data.length}"></span>,
        <span [innerHTML]="'app.rowsSelected'|i18n:{length:container.getCheckedLength()}"></span>
    </ng-template>
    <button (click)="delete()" *aclIf="'application.delete'" nz-button="" nzType="primary" [nzDanger]="true"><span nz-icon="" nzType="delete"></span>{{'util.delete'|i18n}}</button>
</footer-toolbar>